.App {
  text-align: center;
  background-color: var(--body_background);
  color: var(--body_color);
  height: 100vh;
}

body{
  color:#F2C14E;
  background-color:#ffff;
  font-family: 'Finger Paint', cursive;
}










